!!!
%html
  %head
    %title= "Enter Word"
  %body
    %form{:action => "store-word",:method => "post"}
      Word: 
      %input{:type => "text", :name => "name", :size => 30}
      %br/
      %br/
      Definition:
      %textarea{:type => "text", :name => "definition", :rows => 3, :columns => 300}
      %br/
      %br/
      Example:
      %textarea{:type => "text", :name => "example", :rows => 3, :columns => 300}
      %br/
      %br/
      %input{:type => "submit", :value => "Save"}
