!!!
%html
  %head
    %title= "Enter Word"
  %body
    %form{:action => "store-word",:method => "POST"}
      Word:   
      %input{:type => "text", :name => "word", :size => 30}
      %br/
      %br/
      Definition:
      %textarea{:type => "text", :name => "definition", :rows => 6, :cols => 60}
      %br/
      %br/
      Example: 
      %textarea{:type => "text", :name => "example", :rows => 6, :cols => 60}
      %br/
      %br/
      %input{:type => "submit", :value => "Save"}
