%form{:action => "store-word",:method => "post"}
  %fieldset
    %ol
      %li
        %label{:for => "word"} Word:
        %input{:type => "text", :name => "name", :class => "text"}
        %br
        %br
      %li
        %label{:for => "definition"} Definition:
        %input{:type => "text", :name => "definition", :class => "text"}
        %br
        %br
      %li
        %label{:for => "example"} Example:
        %textarea{:name => "example"}
        %br
        %br
      %input{:type => "submit", :value => "Save", :class => "button"}
