.container
  %form.well.form-inline{:name => "login form", :action => "/login", :method => "post"} 
    %input.input-small{:placeholder => "username", :type => "text", :name => "username"}
      %input.input-small{:placeholder => "passsword", :type => "password", :name => "password"}
        %button.btn{:type => "submit"} Sign In
