<html>
    <head>
        <title>Main Page</title>
    </head>
    <body>
        <h1>Select what to do:</h1>
        <ol>
            {% for s in topic_list %}
            <li><a href="/{{forloop.counter}}/">{{s}}</a></li>
            {% endfor %}
        </ol>
        <!--
        <h1> Select what to do: </h1>
        <p> 1. Enter word </p>
        <p> 2. Random Revision: Randomly picking up one word at a time </p>
        <p> 3. Revise the seen list</p>
        <p> 4. Revise the latest added words</p>
        <p> 5. Reverse revision of seen list</p>
        <p> 6. Exit</p>
        -->
    </body>
</html>
